.tools {
    min-height: 1050px;
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__mushroom {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        
        gap: 13px;
        padding: 60px 0 60px 0;
        justify-content: center;
    }
    &__elem {
        width: 270px;
        height: 270px;
        border: 1px solid #000;
        // display: flex;
        padding: 30px 30px 25px 30px;
        // flex-direction: column;
        // align-items: flex-start;
    }
    &__text {
        font-size: 12px;
        margin-top: 12px;
    }
    &__img {
            display: flex;
            align-items: center;
            min-height: 65px;
    }
    &__skill-title {
        margin-top: 20px;
    }
    &__scale {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        justify-content: center;
        gap: 45px;
        padding: 50px 0 50px 0;
    }
    &__title-per {
        position: relative;
       @include before_circle;
       &:before {
        top: -39%;
        left: -5px;
       }
    }
    &__titles {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__fill {
        margin-top: 20px;
        height: 14px;
        background-color: #E8E4DE;
        border-radius: 4px;
    }
    &__actual-fill {
        background-color: $main-color;
        height: 100%;
    }
}

